body {
  background-color: #dfe1e6;
  font-family: sans-serif;
}

.container {
  width: 100%;
  background-color: #fff;
  /* margin: auto; */
  -webkit-box-shadow: 0px 10px 113px -12px rgba(224, 224, 226, 1);
  -moz-box-shadow: 0px 10px 113px -12px rgba(224, 224, 226, 1);
  box-shadow: 0px 10px 113px -12px rgba(255, 255, 255, 1);
}

.nav-container {
  /* background-color: blue; */
  height: 60px;
  width: 100%;
  display: block;
}

div.nav-bar {
  background-color: #282222;
  height: 60px;
  width: 15%;
  float: right;
}

.card {
  width: 80%;
  height: 10%;
  border-radius: 5px;
  background: #fff;
  margin-right: 5%;
  margin-top: 15%;
  filter: brightness(1);
}

.image img {
  border-radius: 10%;
  width: 100%;
  height: auto;
}

.footer img {
  display: inline;
  margin: 0 5% 5% 5%;
  width: 8%;
}

#center-image {
  width: 10%;
  border-radius: 50%;
}

.footer img:hover {
  transition: 0.5s ease-out;
  transform: scale(1.5);
}

.card:hover {
  filter: brightness(0.7);
}

.card:hover .top-text {
  color: #fff;
  filter: brightness(1);
  margin-top: -50px;
}

.card:hover .bottom-text {
  display: block;
  margin-top: -20px;
}

.items {
  margin-left: 10%;
  display: flex;
  flex-wrap: wrap;
  margin-top: -10%;
}

hr {
  margin: auto;
  border: 2px solid #fff;
  position: relative;
  top: 25%;
}

.top-text {
  color: #fff;
  margin-top: -40px;
  margin-left: 10px;
  font-size: 16px;
  font-weight: bold;
  /* z-index: 1; */
}

#top-hr {
  margin-left: 20%;
  margin-right: 40%;
}

#middle-hr {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 0.4em;
}

#bottom-hr {
  margin-left: 20%;
  margin-right: 30%;
  margin-top: 0.4em;
  margin-bottom: 4em;
}

#pro-pic img {
  border-radius: 10%;
  width: 150px;
  height: 170px;
}

#pro-pic {
  display: inline-block;
  margin-left: 10%;
  border-radius: 10%;
}

div#pro-desc {
  width: 51%;
  display: inline-block;
  margin: 2%;
}

span.description {
  display: inline;
  color: #251f1f;
}

#pro-text-follow {
  color: #e0e0e2;
}

#pro-soc {
  width: 8%;
  display: inline-block;
  margin: 2%;
}

#pro-soc img {
  width: 100%;
  display: block;
  text-align: center;
  padding: 10px;
}

h1 {
  font-size: 7vw;
  margin-bottom: -5%;
}

h4 {
  font-size: 5vw;
  margin-bottom: 5%;
}

p {
  font-size: 1.3rem;
  margin-bottom: 3%;
}

#stat {
  margin: 5% 6% 5% 10%;
}

#stat div {
  display: inline-block;
  /* margin-right: %; */
  padding: 4%;
}

div#visit {
  padding-left: 0;
}

.stat-number {
  font-size: 30px;
  font-weight: bold;
}

.stat-desc {
  font-size: 24px;
  margin-top: 2%;
}

hr#hr {
  /* color: blue; */
  margin: 10% 0 10% 10%;
  border-bottom: 1px solid #f2f2f2;
}

hr#hr3 {
  color: #f2f2f2;
  margin: 15% 0 5% 0;
  border-bottom: 1px solid #f2f2f2;
}

#interested {
  margin-left: 10%;
}

#hr1 {
  position: relative;
  margin: -7% 30% 10% 50%;
  border-bottom: 1px solid #f2f2f2;
}

#hr2 {
  position: relative;
  margin: -5% 30% 10% 30%;
  border-bottom: 1px solid #000;
}

.bottom-text {
  font-size: 15px;
  display: inline-block;
  margin-top: -40px;
  margin-left: 10px;
}

.hide {
  display: none;
}

i {
  font-size: 42px;
  color: #cccbd0;
  display: block;
  margin: 10px;
}

.bottom-desc {
  color: #fff;
}

.bottom-text-arrow {
  font-size: 50px;
  color: #fff;
  display: inline-block;
}

a {
  text-decoration: none;
}

#review {
  -webkit-box-shadow: 0px 10px 113px -12px rgba(224, 224, 226, 1);
  -moz-box-shadow: 0px 10px 113px -12px rgba(224, 224, 226, 1);
  box-shadow: 0px 10px 113px -12px rgba(224, 224, 226, 1);
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 500px;
    background-color: #fff;
    margin: auto;
    -webkit-box-shadow: 0px 10px 113px -12px rgba(224, 224, 226, 1);
    -moz-box-shadow: 0px 10px 113px -12px rgba(224, 224, 226, 1);
    box-shadow: 0px 10px 113px -12px rgba(255, 255, 255, 1);
  }
  .image img {
    border-radius: 10%;
    width: 120px;
    height: 155px;
  }
  div#pro-desc {
    width: 40%;
    display: inline-block;
    margin: 2%;
  }
  .footer img {
    display: inline;
    margin: 0 5% 5% 5%;
    width: 8%;
  }
  #center-image {
    width: 10%;
    border-radius: 50%;
  }
  .footer img:hover {
    transition: 0.5s ease-out;
    transform: scale(1.5);
  }
  .card {
    width: 25%;
    height: 150px;
    border-radius: 5px;
    background: #fff;
    margin-right: 5%;
    margin-top: 7%;
    filter: brightness(1);
  }
  .card:hover {
    filter: brightness(0.7);
  }
  .card:hover .top-text {
    color: #fff;
    filter: brightness(1);
    margin-top: -70px;
  }
  .card:hover .bottom-text {
    display: block;
    margin-top: -30px;
  }
  .items {
    margin-left: 10%;
    display: flex;
    flex-wrap: wrap;
    margin-top: -10%;
  }
  h1 {
    font-size: 30px;
    margin-bottom: -20px;
  }
  h4 {
    font-size: 17px;
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 479px) {
  /* #pro-pic img {
        border-radius: 10%;
        width: 30vw;
        height: 35vw;
    } */
  .image img {
    border-radius: 10%;
    width: 100%;
    height: 100vw;
  }
  /* p {
        font-size: 4vw;
        margin-bottom: 3%;
    } */
  #pro-soc {
    display: flex;
    width: 100%;
  }
  #pro-soc img {
    width: 50%;
    display: inline-block;
    text-align: center;
    padding: 10px;
  }
  #stat div {
    width: 100%;
    text-align: center;
  }
  #pro-pic img {
    border-radius: 10%;
    width: 70vw;
    height: 100vw;
  }
  #pro-pic {
    width: 100%;
    text-align: center;
    border-radius: 10%;
    margin-left: 0;
  }
  h1 {
    font-size: 12vw;
    margin-bottom: -5%;
  }
  h4 {
    font-size: 10vw;
    margin-bottom: -5%;
  }
  div#pro-desc {
    width: 100%;
    display: inline-block;
    margin: 2%;
    text-align: center;
  }
  p {
    font-size: 8vw;
    margin-bottom: 3%;
    text-align: left;
  }
  .top-text {
    /* font-size: 9vw; */
  }
  #hr2 {
    margin: -5% 10% 10% 50%;
  }
  .stat-number,
  .stat-desc {
    font-size: 15vw;
  }
  #stat {
    margin: 5% 10%;
  }
}
